<app-home></app-home>
<section id="sectiondefault">


    <!-- <div class="container min-vh-10"> -->
      <!-- <div class="row justify-content-center"> -->
        <!-- <div class="col-md-12 pt-3"> -->
          <div class="embed-responsive embed-responsive-16by9">
          <iframe  src="https://docs.google.com/presentation/d/e/2PACX-1vTIPEUiHL03s4b7hSSzPZmDl6cPYKhF-kisdEfuE6Uj5eRLCjeBNW55H6tgZLFVokysG4Vg6CvMEd7r/embed?start=true&loop=true&delayms=3000"
           style="width: 100%;height: 800px; padding-left: 5em; padding-right: 5em;" ></iframe>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
</section>

