<app-home></app-home>
<!-- <div class="container"> -->
<!-- <div class="overflow-auto">   -->
    <section id="crecesection">
    <div class="embed-report">
        <iframe title="prueba_informe_CRECE" width="1000" height="580" src="https://app.powerbi.com/view?r=eyJrIjoiYjhkMzEwODQtOGVjYS00MTQ0LWJkZjItODVjM2Q3NTEzNmM4IiwidCI6IjYyOGMwZTc3LTViNTUtNDRkZi04YmUxLWVjYTNiMzdiOWNkMCIsImMiOjR9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
     </div>
    </section> 
<!-- </div> -->