<app-home></app-home>
<br><br><br><br>
<section id="slideshow">
    <div class="entire-content">
        <div class="content-carrousel">
            <figure class="shadow"><img src="../../../../assets/Images/Ciclo presupuestario.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/1.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/DPP.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/2.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/Logo Modelo Presupuesto GTO_Azul.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/3.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/DGP.png"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/Ligas de interes.png"/></figure>
            <figure class="shadow"><img src="https://finanzas.guanajuato.gob.mx/assets/img/logo-secretaria-finanzas-guanajuato.svg"/></figure>
            <figure class="shadow"><img src="../../../../assets/Images/pexels-mohammad-danish-891059.jpg"/></figure>
</div>
</div>
</section>
