<app-home></app-home>
<section id="slideshow">
    <div class="entire-content">
        <div class="content-carrousel">
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/Ciclo%20presupuestario.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/1.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/DPP.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/pexels-mohammad-danish-891059.jpg?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/Logo%20Modelo%20Presupuesto%20GTO_Azul.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/2.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/DGP.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/Ligas%20de%20interes.png?raw=true"/></figure>
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/logo-secretaria-finanzas-guanajuato.png?raw=true"/></figure>            
            <figure class="shadow"><img src="https://github.com/cabarronc/dpp/blob/master/src/assets/Images/3.png?raw=true"/></figure>
</div>
</div>
</section>
