<app-home></app-home>
<section id ="usuariosection">
    <div class="container m-5">

        <div class="row">
            <div class="col-lg-6 offset-lg-0">
                <div class="card">
                    <div class="card-body">
                        <h3 class="titulo">Usuarios</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="titulo">{{ accion | uppercase }} USUARIO</h5>


                        <form [formGroup]="form" (ngSubmit)="guardarUsuario()">

                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-user" [class.green-icon]="this.form.get('nombre')?.valid"
                                        [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"></i>
                                </span>
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-at"
                                        [class.green-icon]="this.form.get('email')?.valid"
                                        [class.red-icon]="this.form.get('email')?.invalid && this.form.get('email')?.touched"></i>
                                </span>
                                <input formControlName="email" maxlength="50" type="email" class="form-control"
                                    placeholder="Email">
                            </div>

                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-building"
                                                [class.green-icon]="this.form.get('area')?.valid"
                                                [class.red-icon]="this.form.get('area')?.invalid && this.form.get('area')?.touched"></i>
                                        </span>
                                        <input formControlName="area"  type="text"
                                            class="form-control" placeholder="Dependencia/Area">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-key" [class.green-icon]="this.form.get('password')?.valid"
                                                [class.red-icon]="this.form.get('password')?.invalid && this.form.get('password')?.touched"></i>
                                        </span>
                                        <input formControlName="password" maxlength="3" type="password" class="form-control"
                                            placeholder="password">
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <!-- <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg"> -->
                                    <button  type="submit" class="btn btn-success btn-lg">
                                    <i class="fas fa-database"></i>&nbsp; Aceptar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="titulo">LISTADO DE USUARIOS</h5>
                        <table class="table">
                            <tbody>
                                <i class="fas fa-redo" (click)="obtenerUsuarios()"></i>
                                <tr *ngFor="let usuario of listUsuarios">
                                    <td>{{ usuario.nombre }}</td>
                                    <td>{{ usuario.email}}</td>
                                    <td>
                                        <i (click)="editarUsuario(usuario)" class="far fa-edit text-info"></i>
                                    </td>
                                    <td>
                                        <i (click)="eliminarUsuario(usuario.id)"
                                            class="far fa-trash-alt text-danger"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
