<app-home></app-home>
<section id="sectionpp">
    <p>
        <kendo-dropdownlist [data]="dropDownItems" [defaultItem]="defaultItem" textField="Eje" valueField="IdEje"
        (valueChange)="handleFilterChange($event)">
        </kendo-dropdownlist>
    </p>
    <kendo-grid [data]="gridItems | async" [pageSize]="pageSize"
                [skip]="skip" 
                [pageable]="true"
                [sortable]="true" 
                [sort]="sortDescriptor"
                (sortChange)="handleSortChange($event)" 
                [height]="500"
                [columnMenu]="true"
                [columnMenu]="{ filter: true}"
                [columnMenu]="{ sort: true }"
                [resizable]="true"
                [kendoGridBinding]="gridView"
                kendoGridSelectBy="IdPP"
                [selectedKeys]="mySelection"
                [filterable]="true">
        <ng-template kendoGridToolbarTemplate>
            <kendo-grid-spacer></kendo-grid-spacer>
            <button kendoGridExcelCommand 
                    type="button" 
                    icon="file-excel">
              Exportar a Excel
            </button>
            <button kendoGridPDFCommand icon="file-pdf">Exportar a PDF</button>
          </ng-template>
        <kendo-grid-column [filterable]="false" [columnMenu]="false" field="IdPP" title="ID" [width]="15">
        </kendo-grid-column>
        <kendo-grid-column field="Eje" title="Nombre Eje" [width]="90">
        </kendo-grid-column>
        <kendo-grid-column field="PP" title="PP" [width]="25">
        </kendo-grid-column>
        <kendo-grid-column field="NombrePP" title="Nombre PP" [width]="140">
        </kendo-grid-column>

        <kendo-grid-pdf
        fileName="Catalogo PP.pdf"
        [allPages]="true"
        paperSize="A4"
        [repeatHeaders]="true"
        [landscape]="true"
      >
    <kendo-grid-pdf-margin
          top="3cm"
          left="2cm"
          right="2cm"
          bottom="3cm"
        ></kendo-grid-pdf-margin> 
        <ng-template
          kendoGridPDFTemplate
          let-pageNum="pageNum"
          let-totalPages="totalPages"
        >
          <div class="page-template">
            <div class="header">
              <div style="float: right">
                Pagina {{ pageNum }} de {{ totalPages }}
              </div>
              Programas Presupuestarios 2022
            </div>
            <div class="footer">Pagina {{ pageNum }} de {{ totalPages }}</div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
      <kendo-grid-excel 
      fileName="Programas_Presupuestarios_2022.xlsx"
      [fetchData]="allData"
      ></kendo-grid-excel>
    </kendo-grid>
</section>