<app-home></app-home>
<section id="pruebaspdfsection">
    <input (change)="onFileSelected()" type="file" id="file">
    <pdf-viewer [src]="pdfSrc" 
                [(page)]="page"
                [rotation]="rotation"
                [original-size]="originalSize"
                [show-all]="showAll"
                [fit-to-page]="fitToPage"
                (after-load-complete)="afterLoadComplete($event)"
                [zoom]="zoom"
                [stick-to-page]="stickToPage"
                [render-text]="renderText"
                [external-link-target]="'blank'"
                [autoresize]="autoresize"
                (error)="onError($event)"
                (on-progress)="onProgress($event)"
                (page-rendered)="pageRendered($event)"
                (pages-initialized)="pageInitialized($event)"
                [show-borders]="false"
    ></pdf-viewer>
</section>