<app-home></app-home>
<section id="sectionheader">
  sdsw
</section>
<section id="pruebaspdfsection">
  <br>
  <div class="container">
    <p>Esta parte crea un <strong>PDF</strong> a partir de objetos <strong>HTML</strong> </p>
    <div class="row">
      <div class="col-md-8" id="htmlData">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="table-primary">
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of USERS" class="table-secondary">
              <th>{{user.id}}</th>
              <th>{{user.name}}</th>
              <th>{{user.email}}</th>
              <th>{{user.phone}}</th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <br>
    <div class="col-md-4">
      <button class="btn btn-success btn-block" (click)="openPDF()">Descargar Usuarios</button>&nbsp;
      <br>
      <br>
      <p>Este boton descarga un archivo <strong>PDF</strong> con la Libreria <strong>JSPDF</strong></p>
      <button class="btn btn-success btn-block" (click)="openPDF2()">Descargar Hola Mundo</button>
    </div>

    <div class="col-md-3">

    </div>
  </div>
  <!-- PDF Viewer -->
  <div class="container p-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Open PDF
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">PDF</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://therichpost.com/sample.pdf#toolbar=0&navpanes=0&scrollbar=0" frameBorder="0"
            scrolling="auto" height="100%" width="100%"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
