<app-home></app-home>
<section id="sectiondefault">

    <div class="text-center">
       <h1><strong>CONSULTAR CRECE INFORMES</strong></h1>

    </div>
    <div class="container min-vh-10">
      <!-- <div class="row justify-content-center"> -->
        <div class="col-md-12 pt-3">
          <a href="https://drive.google.com/drive/folders/1fm7EqSFAmpzH6CTuPN_Hh-gKkteEi4BN?usp=sharing" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="false" target="_blank">CRECE PDF</a>
          <br>
          <br>
          <iframe  src="https://drive.google.com/file/d/1x16jrE9Eo-pzG_EUAUilxrRx8XFV64mU/view?usp=sharing"
          style="width: 100%;height: 600px;border: 0;" ></iframe>


        <!-- </div> -->
      </div>
    </div>
</section>

