h1{
font-family: 'Roboto', sans-serif;
font-size: 2.3em;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 10vh;
}
hr{
    height: 1em;
    border-width: 300px;
    max-width: 385px;
    border-color: rgb(185, 13, 13);
}