/* You can add global styles to this file, and also import other style files */
.status-img {
    height: 20px;
    margin-right: 0px;
    width: 0px;
  }

  iframe {
    border: none;
  }

  .hidden {
    height: 0 !important;
    width: 0 !important;
  }

  .report-container {
    height: 80vh;
    margin: 15px auto;
    width: 90%;
  }

  html, body { height: 100%; }

  /* body {
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50);
  } */

  body {
    background: #80b5eb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8dc3e7, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #79b9ee, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }


  .titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .custom-form {
    min-width: 300px;
    max-width: 60%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 10rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }


  /*footer {
    position:sticky;

    bottom: 0;
    height: 100%;
    right: 0%;
    left: 0%;
    /*height: 50px;
  }*/

  /*
    .containerP {
    min-height: 100%;
    position:inherit;
}
.footerP {
 /* position:relative;
  /
  bottom: 0%;
  right: 0%;
  left: 0%;
  clear: both;

  position:sticky;
  /*height: 40px;
  margin-top: -40px;

}*/
