/* html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
} */
#carru {
    margin: 0 auto;
    padding-top: 0px;
    height: 900px;
    width: 100%;
   
    box-sizing: border-box;
}
.jumbotron{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:burlywood;
}
.btn-cues{
    padding:1rem 2rem;
    border-radius: 100px;
}

