<div class="footerP">

  <footer class="text-center text-black" style="background-color:#c8cfdb;">

    <main class="container-fluid" style="padding-top:0.5rem ;">
      <section class="row">

        <!-- <section class="col-lg-5 d-flex flex-column  mb-3 mb-md-0">
          <div class="row seccion_logos">
            <div class="col-9 col-md-6 " style="color:black">
              <img style="vertical-align: middle;" width="240px" height="57.59px"
                src="https://finanzas.guanajuato.gob.mx/assets/img/logo-gto.svg">
            </div>
          </div>
          <div class="row pt-lg-3">
            <div class="col-md-6" style="color:black; ">
              <h5>Atencion Ciudadana</h5>
            </div>
            <p class="d-flex align-items-center" style="color: black;">
              <i class="bi bi-telephone-fill"
                style="color: black; font-size:1.5rem; vertical-align: middle; margin-left: 2rem;"></i> 473 7372192
            </p>
          </div>
        </section> -->

        <section class="col-lg-5 d-flex flex-column contenido-general order-1 mb-3 mb-md-0">
          <div class="row seccion-logos">
            <div class="col-9 col-md-6 logo-footer-guanajuato">
              <img alt="logo guanajuato" width="240px" height="57.59px"
                src="https://finanzas.guanajuato.gob.mx/assets/img/logo-gto.svg">
            </div>
            <div class="col-5 col-md-6 logo-footer-igualdad">
              <img alt="logo igualdad laboral y no discriminación" width="85px" height="85px"
                src="https://finanzas.guanajuato.gob.mx/assets/img/logo-gl.svg">
            </div>
          </div>
          <div class="row pt-lg-2">
            <div class="col-md-6">
              <h6>ATENCIÓN CIUDADANA</h6>
              <p class="d-flex align-items-center">
                <i class="bi bi-telephone-fill"
                  style="color: rgb(0, 60, 255); font-size:1rem; vertical-align: middle; margin-left: 2rem;"> 473 735
                  1500</i>
              </p>
              <p class="d-flex align-items-center">
                <i class="bi bi-envelope-fill"
                  style="color: rgb(0, 60, 255); font-size:1rem; vertical-align: middle; margin-left: 2rem;"> email
                  &nbsp; </i>
                <a href="mailto:soporte@guanajuato.gob.mx"> soporte@guanajuato.gob.mx</a>
              </p>
            </div>
            <div class="col-md-6">
              <h6>NUESTRA SEDE</h6>
              <p class="d-flex align-items-center">
                <i class="bi bi-geo-alt-fill"
                  style="color: rgb(0, 60, 255); font-size:1rem; vertical-align: middle; margin-left: 2rem;">
                  Paseo de la Presa #172, Centro, C.P. 36094, Guanajuato, Gto.</i>
              </p>
            </div>
          </div>
          <div class="row pt-1">
            <div class="col-12">
              <p class="d-flex align-items-center">
                <i class="bi bi-exclamation-diamond-fill"
                  style="color: rgb(0, 60, 255); font-size:1rem; vertical-align: middle; margin-left: 2rem;">
                  ¿Existe problema con esta página? </i><a href="mailto:soporte@guanajuato.gob.mx">&nbsp;
                  Registralo aquí.</a>
              </p>
            </div>
          </div>
        </section>
        <section class="col-lg-4 transparencia order-3 order-md-2 mb-3 mb-md-0">
          <div class="row pt-3">
            <div class="col-12">
              <h6>UNIDAD DE TRANSPARENCIA Y ARCHIVOS DEL PODER EJECUTIVO</h6>
              <!-- <div class="row pt-3">
                <div class="col-12">
                  <p class="d-flex align-items-center">
                ADASDASDASD
                </p>
                </div>
              </div> -->
              <div class="row pt-3">
                <a rel="noopener noreferrer" target="_blank"
                  href="http://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_directorio_externo.php?dependencia=36"
                  class="ng-star-inserted" title="Directorio">
                  <div class="row">
                    <div class="col-12">
                      <span> <i class="bi bi-folder-fill" title="Directorio"></i></span>
                      Directorio
                    </div>
                  </div>
                </a>
                <a rel="noopener noreferrer" target="_blank"
                  href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_estructura.php"
                  class="ng-star-inserted" title="Estructura Organica">
                  <div class="row">
                    <div class="col-12">
                      <span><i class="bi bi-diagram-3-fill" title="Estructura Organica"></i></span>
                      Estructura orgánica
                    </div>
                  </div>
                </a>
                <a rel="noopener noreferrer" target="_blank" href="http://finanzas.guanajuato.gob.mx/mapa.php?id=95"
                  class="ng-star-inserted" title="Monitoreo y evaluación">
                  <div class="row">
                    <div class="col-12">
                      <span><i class="bi bi-pc-display-horizontal" title="Monitoreo y evaluación"></i></span>
                      Monitoreo y evaluación
                    </div>
                  </div>
                </a>
                <a rel="noopener noreferrer" target="_blank" href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_tabulador.php"
                  class="ng-star-inserted" title="Tabulador de sueldos">
                  <div class="row">
                    <div class="col-12">
                      <span><i class="bi bi-bezier" title="Tabulador de sueldos"></i></span>
                      Tabulador de sueldos
                    </div>
                  </div>
                </a>
                <a rel="noopener noreferrer" target="_blank" href="https://strc.guanajuato.gob.mx/auditoriaspracticadas/"
                  class="ng-star-inserted" title="Auditorias">
                  <div class="row">
                    <div class="col-12">
                      <span><i class="bi bi-card-checklist" title="Auditorias"></i></span>
                      Auditorias
                    </div>
                  </div>
                </a>
                <a rel="noopener noreferrer" target="_blank" href="http://finanzas.guanajuato.gob.mx/c_aviso/index.php"
                class="ng-star-inserted" title="Aviso de privacidad">
                <div class="row">
                  <div class="col-12">
                    <span><i class="bi bi-file-lock-fill" title="Aviso de privacidad"></i></span>
                    Aviso de privacidad
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>
        </section>
        <section class="col-lg-3 redes-sociales order-2 order-md-3d mb-3 mb-md-0">
          <div class="row pt-3">
            <h6>SÍGUENOS EN NUESTRAS REDES</h6>
          </div>
          <div class="row pt-3">
            <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/sfiagto?lang=es"
              class="ng-star-inserted" title="twitter">
              <div class="row">
                <div class="col-1" style="margin-left: 12rem;">
                  <i class="fab fa-twitter" title="twitter"></i>
                </div>
                <div class="col-1 d-none d-md-inline">@sfiagto</div>
              </div>
            </a>
            <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/sfiagto/" title="instagram"
              class="ng-star-inserted">
              <div class="row">
                <div class="col-1" style="margin-left: 12rem;">
                  <i class="fab fa-instagram" title="instagram"></i>
                </div>
                <div class="col-1 d-none d-md-inline">@sfiagto</div>
              </div>
            </a><a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/sfiagto" title="facebook"
              class="ng-star-inserted">
              <div class="row">
                <div class="col-1" style="margin-left: 12rem;">
                  <i class="fab fa-facebook" title="facebook"></i>
                </div>
                <div class="col-1 d-none d-md-inline">@sfiagto</div>
              </div>
            </a>
          </div>
        </section>

      </section>

      <div class="text-center p-3 text-black" style="background-color:#e4ecfa; ">
        © 2021 Copyright:
        <a class="text-black" href="https://finanzas.guanajuato.gob.mx/#/">https://finanzas.guanajuato.gob.mx/#/</a>
      </div>
    </main>

  </footer>

</div>
